[
 ; Organisation
 {:db/id #db/id[:db.part/user -1] :organisation/nom "org1"}
 {:db/id #db/id[:db.part/user -1] :organisation/actif true}

 ; Utilisateur (service clientelle)
 {:db/id #db/id[:db.part/user -2] :user/nom "Jack Johnson"}
 {:db/id #db/id[:db.part/user -2] :user/courriel "service@org1.com"}
 {:db/id #db/id[:db.part/user -2] :user/motdepasse "test"}
 {:db/id #db/id[:db.part/user -2] :user/categorie :categorie/service-clientelle}
 {:db/id #db/id[:db.part/user -2] :user/actif true}
 {:db/id #db/id[:db.part/user -2] :organisation/_users #db/id[:db.part/user -1]}

 ; Utilisateur (commis)
 {:db/id #db/id[:db.part/user -8] :user/nom "Jack Commis"}
 {:db/id #db/id[:db.part/user -8] :user/courriel "commis@org1.com"}
 {:db/id #db/id[:db.part/user -8] :user/motdepasse "test"}
 {:db/id #db/id[:db.part/user -8] :user/categorie :categorie/commis}
 {:db/id #db/id[:db.part/user -8] :user/actif true}
 {:db/id #db/id[:db.part/user -8] :organisation/_users #db/id[:db.part/user -1]}

 ; Utilisateur (vendeur)
 {:db/id #db/id[:db.part/user -9] :user/nom "Jack Vendeur"}
 {:db/id #db/id[:db.part/user -9] :user/courriel "vendeur@org1.com"}
 {:db/id #db/id[:db.part/user -9] :user/motdepasse "test"}
 {:db/id #db/id[:db.part/user -9] :user/categorie :categorie/vendeur}
 {:db/id #db/id[:db.part/user -9] :user/actif true}
 {:db/id #db/id[:db.part/user -9] :organisation/_users #db/id[:db.part/user -1]}

 ; Utilisateur (organisateur)
 {:db/id #db/id[:db.part/user -10] :user/nom "Bruce Wayne"}
 {:db/id #db/id[:db.part/user -10] :user/courriel "organisateur@org1.com"}
 {:db/id #db/id[:db.part/user -10] :user/motdepasse "test"}
 {:db/id #db/id[:db.part/user -10] :user/categorie :categorie/organisateur}
 {:db/id #db/id[:db.part/user -10] :user/actif true}
 {:db/id #db/id[:db.part/user -10] :organisation/_users #db/id[:db.part/user -1]}

 ; Evenement
 {:db/id #db/id[:db.part/user -3] :evenement/nom "FestivalDeLaTruite"}
 {:db/id #db/id[:db.part/user -3] :evenement/dateDebut #inst "1985-04-12T23:20:50.52Z"}
 {:db/id #db/id[:db.part/user -3] :evenement/dateFin   #inst "2016-04-20T23:20:50.52Z"}
 {:db/id #db/id[:db.part/user -3] :organisation/_evenements #db/id[:db.part/user -1]}

 ; Client
 {:db/id #db/id[:db.part/user -4] :client/nom "Kerby Geffrard"}
 {:db/id #db/id[:db.part/user -4] :client/courriel "kerby.geffrard@gmail.com"}
 {:db/id #db/id[:db.part/user -4] :client/codePostal "J2M1B3"}
 {:db/id #db/id[:db.part/user -4] :client/balance 10}
 {:db/id #db/id[:db.part/user -4] :client/idNFC "04da6e0a4b3f80"}
 {:db/id #db/id[:db.part/user -4] :evenement/_clients #db/id[:db.part/user -3]}

 ; Article
 {:db/id #db/id[:db.part/user -5] :article/nom "Cheeze Wiz"}
 {:db/id #db/id[:db.part/user -5] :article/categorie "Nourriture"}
 {:db/id #db/id[:db.part/user -5] :article/prix 2}
 {:db/id #db/id[:db.part/user -5] :article/actif true}
 {:db/id #db/id[:db.part/user -5] :organisation/_articles #db/id[:db.part/user -1]}

 {:db/id #db/id[:db.part/user -11] :article/nom "KD avec Saucisses"}
 {:db/id #db/id[:db.part/user -11] :article/categorie "Nourriture"}
 {:db/id #db/id[:db.part/user -11] :article/prix 3}
 {:db/id #db/id[:db.part/user -11] :article/actif true}
 {:db/id #db/id[:db.part/user -11] :organisation/_articles #db/id[:db.part/user -1]}

 {:db/id #db/id[:db.part/user -12] :article/nom "PBR"}
 {:db/id #db/id[:db.part/user -12] :article/categorie "Breuvage"}
 {:db/id #db/id[:db.part/user -12] :article/prix 5}
 {:db/id #db/id[:db.part/user -12] :article/actif true}
 {:db/id #db/id[:db.part/user -12] :organisation/_articles #db/id[:db.part/user -1]}

 {:db/id #db/id[:db.part/user -13] :article/nom "Burger froid poulet"}
 {:db/id #db/id[:db.part/user -13] :article/categorie "Nourriture"}
 {:db/id #db/id[:db.part/user -13] :article/prix 10}
 {:db/id #db/id[:db.part/user -13] :article/actif true}
 {:db/id #db/id[:db.part/user -13] :organisation/_articles #db/id[:db.part/user -1]}


 ; Transaction
 {:db/id #db/id[:db.part/user -6] :transaction/entrees #db/id[:db.part/user -7]}
 {:db/id #db/id[:db.part/user -6] :evenement/_transact #db/id[:db.part/user -3]}
 {:db/id #db/id[:db.part/user -6] :user/_transact #db/id[:db.part/user -2]}
 {:db/id #db/id[:db.part/user -6] :client/_transact #db/id[:db.part/user -4]}

 ; Article-Transaction
 {:db/id #db/id[:db.part/user -7] :articleTransaction/quantite 2}
 {:db/id #db/id[:db.part/user -7] :articleTransaction/article #db/id[:db.part/user -5]}]